<!doctype html>
<html lang="{{ HTML_LANG }}">
  <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}{{ SITENAME }}{%endblock%}</title>
  <meta name="author" content="{{ AUTHOR }}">

  {% block extra_meta %}
  {% endblock %}

  <link rel="stylesheet" href="{{ SITEURL }}/theme/css/{{ CSS_FILE }}" type="text/css" />

  {% if PELICAN_SOBER_STICKY_SIDEBAR %}
  <script type="text/javascript" src="{{ SITEURL }}/theme/js/custom_scripts.js"></script>
  {% endif %}

  {% block scripts %}
  {% endblock %}

  {% if FEED_ALL_ATOM %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
  {% endif %}
  {% if FEED_ALL_RSS %}
  <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />
  {% endif %}
</head>

<body>
  {{ FEED_ATOM }}
  <div class="container">

    <header role="banner">
      <a href="{{ SITEURL }}" class="title">{{ SITENAME }}</a>

      <img src="{{ SITEURL }}/images/logo_UGA.png" style="width: 7%;"
	   align="right" vspace="3" />

      <img src="https://www.python.org/static/opengraph-icon-200x200.png"
	   style="width: 5%;" align="right" hspace="15" vspace="2" />

    </header>

    <div class="wrapper">

      <div role="main" class="content">
	{% block content %}{% endblock %}
      </div>

      <div class="sidebar">
	<div class="sidebar-container" {% if PELICAN_SOBER_STICKY_SIDEBAR %}id="sidebar-container-fixed"{% endif %}>

	  {% if PELICAN_SOBER_ABOUT %}
	  <aside>
	    <h2>About</h2>
	    <p>
              {{ PELICAN_SOBER_ABOUT }}
	    </p>
	  </aside>
	  {% endif %}

	  <nav>
	    <ul class="noindent">
		  <li ><a href="{{ SITEURL }}/pages/training.html">Training</a></li>
		  <li ><a href="{{ SITEURL }}/pages/working-sessions.html">Working sessions</a></li>
	      <li ><a href="{{ SITEURL }}/pages/links.html">Links</a></li>
	    </ul>
	  </nav>

	  <aside>
	    <h2>Contact</h2>
	    <p> python [at]
	    <br> univ-grenoble-alpes.fr
	      <br>
	  </aside>

	  {% if LINKS %}
	  <aside>
	    <h2>Quick links</h2>
	    <ul class="noindent">
	      {% for name, link in LINKS %}
	      <li><a href="{{ link }}">{{ name }}</a></li>
	      {% endfor %}
	    </ul>
	  </aside>
	  {% endif %}

	  <nav>
	    <h2>Categories</h2>
	    <ul class="noindent">
	      {% for cat, null in categories %}
	      <li {% if cat == category %}class="active"{% endif %}><a href="{{ SITEURL }}/{{ cat.url }}">{{ cat }}</a></li>
	      {% endfor %}
	    </ul>
	  </nav>

	  {% if SOCIAL %}
	  <aside>
	    <h2>Social</h2>
	    <ul class="social">
	      {% for name, link in SOCIAL %}
	      <li><a href="{{ link }}">{{ name }}</a><i></i></li>
	      {% endfor %}
	    </ul>
	  </aside>
	  {% endif %}


	</div>
      </div>

    </div>

    <footer>
      <p role="contentinfo">
	{{ AUTHOR }} - Powered by
	<a href="http://docs.getpelican.com">pelican</a>
	(<a href="https://gricad-gitlab.univ-grenoble-alpes.fr/python-uga/website-pyscidatagre">source
	code</a>).  Theme inspired
	by <a href="https://github.com/fle/pelican-sober">pelican-sober</a>.
      </p>

    </footer>

  </div>

  {% if GOOGLE_ANALYTICS %}
  <script>
    var _gaq=[['_setAccount','{{ GOOGLE_ANALYTICS }}'],['_trackPageview']];
    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
    g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g,s)}(document,'script'));
  </script>
  {% endif %}

</body>
</html>
