{% extends "base.html" %}
{% block content_title %}{% endblock %}

{% block content %}

<h1>Welcome</h1>

<font size=+1>
  Site web du groupe grenoblois des utilisateurs de Python pour la science et les
  données.
</font>

<h1>News and posts</h1>
<dl>
{% for article in dates %}
<dt>{{ article.locale_date }}</dt>
<dd><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></dd>
{% endfor %}
</dl>

{% endblock content %}
